/* VARIABLES - Переменная */
:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --black-color: #303030;
  --grey-op: rgba(157, 164, 189, 0.6);
  --grey: rgba(157, 164, 189, 1);
  --dark-grey: #555555;
  --main-font: 'Open Sans', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--black-color);
}
address {
  font-style: normal;
}

ul {
  /* Убрали маркеры у списка */
  list-style: none;
}

a {
  /* Наследуй цвет шрифта от родителя */
  color: inherit;
  /* Убрали нижнее подчеркивание */
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;
}

.sign-link:hover {
  background-color: var(--pretty-color);
  color: var(--while-color);
}

.preTitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: var(--accent-font);
  font-size: 42px;
  line-height: 1.167;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}
.mediaList .li:hover,
.mediaList .li:focus {
  color: var(--pretty-color);
}
/* HEADER STYLES */
.header {
  background: var(--black-color);
  color: var(--while-color);
}

/* Эффект наведения мыши */
/* .navList a:hover {
  color: var(--pretty-color);
} */

/* Эффект фокусировки */
/* .navList a:focus {
  color: chartreuse;
} */
.navList a:hover,
.navList a:focus,
.phone-link:hover,
.phone-link:focus,
.mediaList a:hover,
.mediaList a:focus {
  color: var(--pretty-color);
}

/* .navList a:active {
  color: aqua;
  font-size: 28px;
} */

/* HEADER STYLES */

/* HERO section */
.hero {
  background-color: var(--black-color);
  color: var(--while-color);
}

.hero .preTitle {
  color: var(--grey-op);
}
.hero .title {
  font-size: 72px;
  line-height: 1.181;
}

.hero .text {
  color: var(--dark-grey);
}

.sliderButtons button {
  color: var(--grey-op);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-op);
  width: 60px;
  text-align: left;
  padding-bottom: 8px;
}

.sliderButtons button:last-child {
  text-align: right;
}

.sliderButtons button:hover,
.sliderButtons button:focus {
  cursor: pointer;
  color: var(--while-color);
  border-bottom: 1px solid var(--while-color);
}

/* ABOUT section */

.about .deskription {
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}

/* PRICE section */
.price-section {
  background-color: var(--black-color);
  color: var(--while-color);
}
/* PRICE section */

/* CONTACTS section */
.contacts-section {
  background-color: var(--black-color);
  color: var(--while-color);
}

.contacts-section .sign-link {
  padding: 12px 38px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
.contacts-section .sign-link:hover,
.contacts-section .sign-link:focus {
  background-color: var(--pretty-color);
}
/* CONTACTS section */
