/* VARIABLES - Переменная */
:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --main-font: 'Open Sans', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--main-font);
  font-style: normal;
}

ul {
  /* Убрали маркеры у списка */
  list-style: none;
}

a {
  /* Наследуй цвет шрифта от родителя */
  color: inherit;
  /* Убрали нижнее подчеркивание */
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;
}

.sign-link:hover {
  background-color: var(--pretty-color);
}
/* HEADER STYLES */
.header {
  background: black;
  color: var(--while-color);
}
/* Эффект наведения мыши */
/* .navList a:hover {
  color: var(--pretty-color);
} */

/* Эффект фокусировки */
/* .navList a:focus {
  color: chartreuse;
} */
.navList a:hover,
.navList a:focus,
.mediaList a:hover,
.mediaList a:focus {
  color: var(--pretty-color);
}

/* .navList a:active {
  color: aqua;
  font-size: 28px;
} */
/* HEADER STYLES */
